In [ ]:
idade1 = 39
idade2 = 30
idade3 = 20
idade4 = 15

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
20
15

In [ ]:
idades = [30, 39, 20, 15]
print(idades)

[30, 39, 20, 15]

In [ ]:
class ContaCorrente:
    def __init__(self, agencia):
        self.agencia = agencia
        self.valor = 0

    def deposita(self, valor):
      self.valor += valor

In [ ]:
conta_do_gui = ContaCorrente(313)
conta_do_gui.deposita(300)
conta_do_gui.valor

300

## HeranÃ§a e Polimorfismo

In [28]:
from abc import ABCMeta, abstractmethod


class Conta(metaclass = ABCMeta):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass

  def __str__(self):
    return f'>> Codigo {self._codigo} Saldo {self._saldo} <<'

In [31]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3

class ContaInvestimento(Conta):
  pass

In [ ]:
ContaInvestimento(11)

TypeError: ignored

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

>> Codigo 16 Saldo 998 <<

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

>> Codigo 17 Saldo 1007.0 <<

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)

contas = [conta16, conta17]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

>> Codigo 16 Saldo 998 <<
>> Codigo 17 Saldo 1007.0 <<

## Evitar usar ARRAY!
Se precisamos de trabalho numero uscar NP (Numpy)

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
import numpy as np
numeros = np.array([1, 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [2]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self.__saldo += valor
        
    def __str__(self):
        return f'>> Codigo {self._codigo} Saldo {self._saldo}  <<'

>> Codigo 37 Saldo 0  <<

>> Codigo 37 Saldo 0  <<

In [4]:
conta1 == conta2

False

In [20]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)

In [21]:
conta1 == conta2

True

In [22]:
 conta1.deposita(10)

In [15]:
conta1._saldo

10

In [17]:
conta2._saldo

0

In [23]:
conta1 == conta2

False

In [26]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'>> Codigo {self._codigo} Saldo {self._saldo}  <<'
    
class ContaMultiploSalario(ContaSalario):
    pass

In [33]:
isinstance(Conta, ContaCorrente)

False

In [35]:
idades = [15, 87, 65, 32, 56, 32, 49, 37]
range(len(idades))

range(0, 7)

In [40]:
for i in range(len(idades)):
    print(i + 1, '->', idades[i])

1 -> 15
2 -> 87
3 -> 65
4 -> 56
5 -> 32
6 -> 49
7 -> 37

In [53]:
numerado = enumerate(idades)

In [45]:
numerado

In [46]:
print(numerado)

<enumerate object at 0x00000230E242FEC0>

In [54]:
for indice, idade in numerado:
    print(f'Indice {indice} -> Idade {idade}')

Indice 0 -> Idade 15
Indice 1 -> Idade 87
Indice 2 -> Idade 65
Indice 3 -> Idade 56
Indice 4 -> Idade 32
Indice 5 -> Idade 49
Indice 6 -> Idade 37

In [56]:
usuarios = [
    ('Guilherme', 37, 1981),
    ('Daniela', 31, 1987),
    ('Paulo', 39, 1979)
]

In [60]:
for nome, idade, nascimento in usuarios:
    print(idade)

37
31
39

In [61]:
idades

[15, 87, 65, 56, 32, 49, 37]

In [62]:
sorted(idades)

[15, 32, 37, 49, 56, 65, 87]

In [63]:
reversed(idades)

In [64]:
list(reversed(idades))

[37, 49, 32, 56, 65, 87, 15]

In [68]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'>> Codigo {self._codigo} Saldo {self._saldo}  <<'

In [71]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

In [72]:
contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [74]:
for conta in contas:
    print(conta)

>> Codigo 17 Saldo 500  <<
>> Codigo 3 Saldo 1000  <<
>> Codigo 133 Saldo 510  <<

In [76]:
def extrai_saldo(conta):
    return conta._saldo


for conta in sorted(contas, key=extrai_saldo):
    print(conta)

>> Codigo 17 Saldo 500  <<
>> Codigo 133 Saldo 510  <<
>> Codigo 3 Saldo 1000  <<

In [77]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'>> Codigo {self._codigo} Saldo {self._saldo}  <<'

In [78]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

In [78]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

In [79]:
conta_do_guilherme < conta_da_daniela

True

In [80]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [81]:
contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [82]:
sorted(contas)

[<__main__.ContaSalario at 0x230e252cb80>,
 <__main__.ContaSalario at 0x230e252c640>,
 <__main__.ContaSalario at 0x230e252c0a0>]

In [83]:
for conta in sorted(contas):
    print(conta)

>> Codigo 17 Saldo 500  <<
>> Codigo 133 Saldo 510  <<
>> Codigo 3 Saldo 1000  <<

In [87]:
from operator import attrgetter

In [86]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)
contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in sorted(contas